/**
 * normal.css provides a basic website layout
 *
 * It uses the CSS3 idea of defined sections, and additionally defines 
 * its own section, "container"
 * 
 * @author David Argles <d.argles@gmx.com>
 * @version 08-12-2013, 08:59h
 * @copyright 2013 Haven Consulting
 */

/**
 * The following section defines attributes that apply to all widths of screen display
 */
/* html{height:100%;} */
body
{
  /* min-height:100%; */
  font-family:verdana,arial,sans-serif;
  background-color:#cc9;
}
container
{
  display:block;
  max-width:850px;
  min-width:300px;
  /* min-height:100%; */
  margin:0 auto;
  background-color:white;
  border-radius:10px 10px 10px 10px;
  box-shadow: 	0px 10px 20px rgba(0,0,0,0.6);
}
header
{
  color:black;
  margin-bottom:0;
  padding:0.1em;
  border-radius:10px 10px 0px 0px;
  text-align:left;
}
header h3{font-size:2em;padding:0px;margin:0.2em 0 0 0.5em;}
header p{font-size:1.2em;padding:0px;margin:0 0 0 2em;}
header img{height:50px;float:left;margin:8px 10px 0 30px;}
banner
{
  display:block;
  background-image:url('../graphics/banner.jpeg');
  height:110px;
}
nav a:link, a:visited{text-decoration:none;}

section
{
  /* min-height:100%; */
  background-color:white;
  padding:0.3em;
}
section h3{padding-left:5px;}
section p{padding-left:1em;}
section p.centre{text-align:center}
section table{padding-left:2em;}
section td.wide{width:15em;}
section td.r-align{text-align:right;}
section img{display:block; margin-left:auto; margin-right:auto;}

footer
{
  font-style:italic;
  color:gray;
  background-color:white;
  padding:0.3em;
  border-radius:0px 0px 10px 10px;
}
/**
 * The following section defines attributes specific to narrow screen widths
 */
@media screen and (max-width:480px)
{
        header img{height:50px;float:left;margin:8px 10px 0 5px;}
	nav
	{
	  background-color:#ccc;
	  margin-top:0;
          overflow:hidden;
	  padding:0.4em;
	  padding-bottom:0.2em;
          font-size:small;
	}
	nav a
	{
	  background-color:#aaa;
	  padding:0.3em;
	  margin-right:0.2em;
          padding-bottom:2px;
	  border-width:0em;
	  border-radius:5px 5px 0px 0px;  
	}
	nav a:hover{color:#ccc;}
	nav a.current{background-color:white;}
        section{margin-right:0.35em;}
        section img{width:280px;}
}
/**
 * The following section defines attributes specific to intermediate widths
 */
@media screen and (min-width:481px) and (max-width:600px)
{
        header img{height:50px;float:left;margin:8px 10px 0 5px;}
	nav
	{
	  margin:0 auto;
	  background-color:black;
          text-align:center;
          height:2em;
          /*width:100%;*/
	}
	nav a
	{
          display:block;
          float:left;
	  background-color:black;
          color:white;
	  padding:0.35em 0.5em 0 0.5em;
	  /*width:90px;*/
	  text-align:center;
	}
	nav a:hover{color:#ccc;}
	nav a.current{color:gray;}

	section
	{
	  margin:0;
	}
	footer
	{
	  margin-left:50px;
	  border-radius:0px 0px 10px 0px;
	}
}
/**
 * The following section defines attributes specific to wider screen widths
 */
@media screen and (min-width:601px)
{
	nav
	{
	  margin:0 auto;
	  background-color:black;
          text-align:center;
          height:2em;
          padding-left:30px;
          /*width:100%;*/
	}
	nav a
	{
          display:block;
          float:left;
	  background-color:black;
          color:white;
	  padding:0.35em 0.5em 0 0.5em;
	  /*width:90px;*/
	  text-align:center;
	}
	nav a:hover{color:#ccc;}
	nav a.current{color:gray;}

	section
	{
	  margin:0 120px 0 100px;
	}
	footer
	{
	  margin-left:100px;
	  border-radius:0px 0px 10px 0px;
	}
}
/**---------------------------------------------
 *             End of Code
 *----------------------------------------------
 */
